body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
}

/* HEADER */
.bg-dark {
    background-color: #131921 !important;
}

.bg-light {
    background-color: #232f3e !important;
}

.btn-search {
    background-color: #febd69;
    border: none;
    color: #333;
}

.btn-search:hover {
    background-color: #f3a847;
}

/* SIDEBAR */
aside a:hover {
    color: #c45500 !important;
    text-decoration: underline !important;
}

/* PRODUCT CARD */
.product-card {
    transition: transform 0.2s, box-shadow 0.2s;
    border: 1px solid #ddd;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.product-title {
    color: #007185;
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Cắt chữ nếu quá 2 dòng */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product-title:hover {
    color: #c45500;
    cursor: pointer;
    text-decoration: underline;
}

.price-symbol {
    font-size: 12px;
    vertical-align: top;
}

.price-whole {
    font-size: 28px;
}

.price-fraction {
    font-size: 12px;
    vertical-align: top;
}

.btn-add-cart {
    background-color: #ffd814;
    border-color: #fcd200;
    border-radius: 50px;
    /* Nút bo tròn chuẩn Amazon */
    font-size: 14px;
}

.btn-add-cart:hover {
    background-color: #f7ca00;
}